## 1 Preliminaries

1.1 Imports and Configs

### Imports

In [2]:
import pandas as pd

from pathlib import Path
from ydata_profiling import ProfileReport

/home/jaskier/Projects/End to End/predict-calorie-expenditure/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Constants

In [3]:
RAW_TRAIN_PATH = Path('../data/raw/train.csv')
REPORTS_DIR = Path("../reports/")
REPORTS_DIR.mkdir(exist_ok=True)

## 1.2 Data Preprocessing

In [8]:
def read_data(path):
    return pd.read_csv(path, index_col=0)

In [9]:
df = read_data(RAW_TRAIN_PATH)

In [10]:
df

           Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
id
0         male   36   189.0    82.0      26.0       101.0       41.0     150.0
1       female   64   163.0    60.0       8.0        85.0       39.7      34.0
2       female   51   161.0    64.0       7.0        84.0       39.8      29.0
3         male   20   192.0    90.0      25.0       105.0       40.7     140.0
4       female   38   166.0    61.0      25.0       102.0       40.6     146.0
...        ...  ...     ...     ...       ...         ...        ...       ...
749995    male   28   193.0    97.0      30.0       114.0       40.9     230.0
749996  female   64   165.0    63.0      18.0        92.0       40.5      96.0
749997    male   60   162.0    67.0      29.0       113.0       40.9     221.0
749998    male   45   182.0    91.0      17.0       102.0       40.3     109.0
749999  female   39   171.0    65.0      19.0        97.0       40.6     103.0

[750000 rows x 8 columns]